/* Color de fondo gris, tipo de letra helvetica. El 'text-align: center' es para centrar el dashboard */
body {
    text-align: center;
    background-color: darkred;
    font-family: 'Teko', sans-serif;
}
h1{
    text-align: center;
    font-family: 'Teko', sans-serif;
    color: white;

}

/* Quitamos los margenes de los títulos tipo 2. Los de los distintos paneles */
h2 {
    text-align: center;
    font-family: 'Teko', sans-serif;


}

/* Márgenes en auto para que quede centrado en la página.
    Tamaño máximo de 920 píxeles.
    configuración del grid a 3 columnas con un espaciado de 15 píxeles. */
.dashboard-wrapper {
    margin:0 !important;

    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

/* Configuración de cada panel: texto alineado a la izquierda, color de fondo blanco, etc. */
.dashboard-wrapper .panel {
    text-align: center;
    background-color: #fff;
    border: 15px solid #d3d3d3;
    box-shadow: 0 0 4px 1px rgba(130,130,130,.2);
    padding: 5px;
    font-size: 15px;


}

.panel{
    width: 100%;
    text-align: center;
    

}

/* Los paneles con Id p1 y p5 ocuparan de la columna 1 a la 4 */
.dashboard-wrapper #p1.panel, .dashboard-wrapper #p8.panel {
    grid-column: 1 / 4;
}

/* Configuración del footer */
.bottom {
    font-size:10px;
    margin-top:15px;
}

.bottom a {
    color: #333;
    text-decoration: none;
}

/* Configuración responsive: para dispositivos con pantalla de máximo 104 píxeles de resolución. todos los paneles ocuparán de la columna 1 a la 4 */
@media screen and (max-width: 1024px) {
    .dashboard-wrapper .panel {
        grid-column: 1 / 4;
        text-align: center;
    }
}


#p2Chart{

    width:100%

}